.header_wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  background: radial-gradient(
      at 94% 80%,
      hsla(167, 31%, 91%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 9% 82%, hsla(53, 56%, 90%, 1) 0px, transparent 50%),
    radial-gradient(at 13% 26%, hsla(33, 88%, 89%, 1) 0px, transparent 50%),
    radial-gradient(at 48% 20%, hsla(173, 32%, 88%, 1) 0px, transparent 50%),
    radial-gradient(at 82% 21%, hsla(109, 51%, 91%, 1) 0px, transparent 50%);

  .header_left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .tag_wrapper {
      width: 20%;
    }
  }

  .header_right {
    width: 40%;
    overflow: hidden;
    border-radius: 0.7rem;
  }
  .header_image {
    border-radius: 0.7rem;
    transition: transform 0.3s ease;
    object-fit: cover;

    &:hover {
      transform: scale(1.06);
      transition: transform 0.3s ease;
    }
  }
}
