.blog_recipes {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 70px;
}

.recipe_area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.loadmore_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
