.subscribecontainer {
  width: 100%;
  display: flex;

  background-color: rgb(255, 255, 255);
  background: radial-gradient(
      at 94% 87%,
      hsla(167, 31%, 91%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 48% 20%, hsla(173, 32%, 88%, 1) 0px, transparent 50%),
    radial-gradient(at 82% 21%, hsla(109, 51%, 91%, 1) 0px, transparent 50%),
    radial-gradient(at 9% 82%, hsla(53, 56%, 90%, 1) 0px, transparent 50%),
    radial-gradient(at 13% 26%, hsla(33, 88%, 89%, 1) 0px, transparent 50%);
}

.subscribe_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5rem 6rem;
  gap: 2rem;

  background-color: #ffffff5e;
  backdrop-filter: blur(10px);
  border-radius: 0.8rem;
}
