.attributes_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  background-color: white;
  border: 1px solid #efefef;
  border-radius: 0.7rem;
  height: 5rem;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.12);
  color: inherit;

  > p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    padding-right: 1rem;
    border-right: 1px solid #cbcbcb;
    color: #8aa58f;
  }

  > p:nth-last-child(1) {
    border-right: none;
  }

  .attr_icon {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #8aa58f;
    background-color: #dbebde;
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: 1px solid #8aa58f7a;
  }
}
