.categorytag {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 14rem;

  padding: 1rem 2rem;
  border: 1px solid #d3d3d3cc;
  border-radius: 1.5rem;
  background-color: transparent;

  &:hover {
    background-color: #f4f4f4;
  }
}
