.meals_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 80vh;
}

.meal_categories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
