.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 26rem;
  gap: 1.5rem;
  background: #f4f4f4;

  color: var(--primaryTextColor);
  margin-top: 70px;
}
