.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 26rem;
  gap: 1.5rem;
  border-bottom: 1px solid #e5e5e5;
  // background: #f4f4f4;

  color: var(--primaryTextColor);
  background-color: hsla(135, 0%, 100%, 1);
  background-color: hsla(135, 0%, 100%, 1);
  background-image: radial-gradient(
      at 47% 6%,
      hsla(155, 100%, 97%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 13% 0%, hsla(101, 37%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 68% 3%, hsla(30, 100%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(25, 100%, 81%, 1) 0px, transparent 50%);
}
