.ingredients_wrapper {
  padding: 0 1rem;
  ul {
    list-style: none;
    padding: 0;
    li {
      padding-bottom: 0.6rem;

      &:before {
        content: "◉";
        margin-right: 0.5rem;
      }
    }
  }
}
