.tag {
  border: 1px solid #7ad39e;
  color: #387952;
  font-size: 14px;
  background-color: #7ad39d55;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.tag_nolink {
  border: 1px solid #7ad39e;
  color: #387952;
  font-size: 14px;
  background-color: #7ad39d55;
  border-radius: 0.5rem;
  padding: 0.3rem 0.6rem;
  cursor: default;
}
