.tag {
  border: 1px solid #fce8cd;
  color: #aa977d;
  font-size: 14px;
  background-color: #fce8cd75;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.tag_nolink {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #997e56;
  color: #997e56;
  font-size: 14px;
  background-color: #fce8cd75;
  border-radius: 0.5rem;
  padding: 0.3rem 0.6rem;
  cursor: default;
}
