.recentscontainer {
  width: 100%;
  background-color: #f4f4f4;

  .titleswrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;

    h1 {
      background: linear-gradient(
        270deg,
        var(--primaryColor) 0%,
        var(--secondaryColor) 20%
      );
      background-clip: text;
      color: transparent;
    }
  }

  .recipeswrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  .buttonwrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 3rem;
  }
}
